## Project Requirements:
Scrape profiles and get:
1. the number of posts
2. the follower count
3. number of likes on most liked post
4. numbner of likes

In [65]:
from instagramy import InstagramUser
from instascrape import Profile, scrape_posts, Post
from selenium.webdriver import Chrome
from datetime import datetime
import pandas as pd
import numpy as np

In [14]:
chrome_driver_path = "/Users/chena23/Desktop/InstragramScraper/chromedriver"

driver = Chrome(chrome_driver_path)
headers = {
    "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Mobile Safari/537.36 Edg/87.0.664.57",
    "cookie": "sessionid=7320119797%3AsIWlEyDL37Q7Pg%3A14"
}

In [61]:
def get_top_post (scraped_posts, cut_off_date = datetime(2021, 8,1)):
    # Checking if an empty array was inputed
    if (type(scraped_posts) != list):
        raise TypeError("Input is not a list")
    if (len(scraped_posts) == 0):
        raise ValueError("Empty posts list imported")
    
    #Returning Post with the highest number of likes
    top_post = scraped_posts[0]
    
    for post in scraped_posts:
        if (type(post) != Post):
            raise TypeError("One or more objects in the list is not a Post object")
        if (datetime.fromtimestamp(post.timestamp) < cut_off_date):
            if (post.likes > top_post.likes):
                top_post = post
        else:
            print("Post posted on {}, after the deadline".format(datetime.fromtimestamp(post.timestamp)))

    return top_post

In [129]:
users = pd.read_csv("Social_Media_Study_Handles.csv")
users = users.reindex(columns=[*users.columns, 'follower_count', 'number_of_posts', 'top_post_likes', 
'top_post_date_posted', 'top_post_url', 'first_post_likes', 'first_post_date_posted', 'first_post_url'], fill_value = np.NAN)
users

,School,IG Username,follower_count,number_of_posts,top_post_likes,top_post_date_posted,top_post_url,first_post_likes,first_post_date_posted,first_post_url
0,TJU/Wills Eye Hospital,willseyeresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bascom Palmer/University of Miami,bascompalmereye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Johns Hopkins/Wilmer,wilmereyeresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,University of Iowa,uiowaeye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mass. Eye and Ear,havardophthalmologyresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
116,NYMC Jamaica Hospital Medical Center,jamaicahospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,Beaumont Health (Taylor),beaumont.ophtho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Kettering Health Network,ketteringhealth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,PCOM,pcomeducation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,St. John's Episcopal Hospital-South Shore,stjohnseh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
users[users['IG Username'].isna()]

,School,IG Username,follower_count,number_of_posts,top_post_likes,top_post_date_posted,top_post_url,first_post_likes,first_post_date_posted,first_post_url
83,National Capital Consortium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Larkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Icahn School of Medicine at Mount Sinai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Howard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,University of South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,San Antonio Uniformed Services Health Educatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,BronxCare Health System,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,University of Arizona - Tucson (South Campus),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,University of Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
print(users.iloc[89]['IG Username'])

nan

In [121]:
type(users.iloc[89]['IG Username'])

float

In [122]:
type(np.NAN)

float

In [125]:
users.iloc[89]['IG Username'] == np.NAN

False

In [126]:
users.iloc[85:95]

,School,IG Username,follower_count,number_of_posts,top_post_likes,top_post_date_posted,top_post_url,first_post_likes,first_post_date_posted,first_post_url
85,University of Kansas,kuophthalmology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NYMC Valhalla/Westchester Medical Center,nymedcollege,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,University of Texas/Methodist Hospital (Houston),ophthodellmed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,Summa Health System/NEOMED,neomededu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,Larkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Albany,amceyeresidency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Naval Medical Center (San Diego),nmc_sd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,University of Arkansas,uams_eye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,VCU,vcuhealth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,University of Arizona - Tucson,uazmedtucson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
users.head(5)

,School,IG Username,follower_count,number_of_posts,top_post_likes,top_post_date_posted,top_post_url,first_post_likes,first_post_date_posted,first_post_url
0,TJU/Wills Eye Hospital,willseyeresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bascom Palmer/University of Miami,bascompalmereye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Johns Hopkins/Wilmer,wilmereyeresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,University of Iowa,uiowaeye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mass. Eye and Ear,havardophthalmologyresidents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#test purposes
users = users.head(5)

for i in range (0, len(users)):
    profile = Profile

In [48]:
test_profile = Profile("willseyeresidents")
test_profile.scrape(headers=headers)

In [49]:
posts = test_profile.get_posts(webdriver=driver, login_first=True, login_pause=20)

KeyboardInterrupt:

In [17]:
len(posts)

33

In [18]:
scraped, unscraped = scrape_posts(posts, webdriver=driver, silent=False, headers=headers, pause=10)

0: CDABF2hhEhP - 2020-07-23 17:49:11
1: CC6_LwDhnTu - 2020-07-21 18:56:19
2: CC4Kk8ZBGIc - 2020-07-20 16:38:09
3: CCtc94uh_SW - 2020-07-16 12:47:12
4: CCqrp49B5j1 - 2020-07-15 10:57:49
5: CCjOYsGBwWO - 2020-07-12 13:27:23
6: CCecas4hdY- - 2020-07-10 16:53:47
7: CCHSdAehmf7 - 2020-07-01 17:04:11
8: CB3xPaehw43 - 2020-06-25 16:25:22
9: CBy5lzbBlq8 - 2020-06-23 19:02:08
10: CBwQp8qhq3y - 2020-06-22 18:25:57
11: CBtTXidBM4k - 2020-06-21 14:51:56
12: CBqW91ohOfD - 2020-06-20 11:25:39
13: CBoCRLXhQex - 2020-06-19 13:46:18
14: CBlvolqAn4t - 2020-06-18 16:25:00
15: CBjLzmHBJxE - 2020-06-17 16:33:27
16: CANgGIPAQc0 - 2020-05-15 09:56:03
17: CALFcpLAZq1 - 2020-05-14 11:24:43
18: B_lFRQnBz3j - 2020-04-29 17:12:01
19: B-sAg1yhXLQ - 2020-04-07 13:13:45
20: B9Z5wFmBtvD - 2020-03-06 14:56:56
21: B9HGomcBRkn - 2020-02-28 07:43:57
22: B8nbgg2hDsc - 2020-02-16 00:30:39
23: B7yyPaVB9wF - 2020-01-26 13:49:32
24: B6UcX8CB3J_ - 2019-12-20 22:29:51
25: B6TRZBrBHoW - 2019-12-20 11:34:38
26: B5l3vIoBB4d - 2019-12-02 20:24:39
27: B44xDRpB7iT - 2019-11-15 08:00:24
28: B4i_dbXgK0u - 2019-11-06 21:03:01
29: B4SmCO2g2C- - 2019-10-31 13:13:00
30: B4IODOiA1lR - 2019-10-27 12:31:01
31: B4Bb3OsAwPA - 2019-10-24 21:17:02
32: B4BZYIpAuYT - 2019-10-24 20:55:18

In [21]:
len(scraped)

33

In [64]:
top_test_post = get_top_post(scraped)
print(top_test_post.likes, "instagram.com/p/{}".format(top_test_post.shortcode))

141 instagram.com/p/CC4Kk8ZBGIc